<div class='grid__row'>
  <div class='grid__column grid__column--6'>
    <a href='/rooms'>
      <h2>Rooms</h2>
      <img src='https://i.imgur.com/piarRF9.jpg' placeholder='Rooms'/>
    </a>
    <p>
      We have beautiful AC and Non-AC room with en suite bathrooms and 
      hot water showers. The rooms have polished tiles and always kept 
      very clean. Enjoy a quiet night’s sleep on fine quality beds away 
      from the hustle and bustle of the towns.  
    </p>
  </div>
  <div class='grid__column grid__column--6'>
    <a href='/rooms'>
      <h2>Restaurant</h2>
      <img src='https://images.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F_NNTjLk2JDcs%2FTIj2hxN9KzI%2FAAAAAAAABj8%2FmUwwxvXIO1Q%2Fs1600%2Ffood%2Bsri%2Blanka.jpg&f=1' placeholder='Restaurant'/>
    </a>
    <p>
      In our spacious restaurant we serve highest quality veg and non-veg 
      Sri Lanka meals made from the finest local ingredients. Our food is 
      always very popular with our guests, and many come back for it 
      especially. Breakfast is served fresh whenever you’re ready. 
    </p>
  </div>
</div>
<div class='grid__row'>
  <div class='grid__column grid__column--6'>
    <a href='/attractions'>
      <h2>Attractions</h2>
      <img src='https://images.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-a5lF0LAJDSo%2FThhmdR6vABI%2FAAAAAAAAAoQ%2FbGolvGxj100%2Fs1600%2FSigiriya%2B09a.jpg&f=1' placeholder='Attractions'/>
    </a>
    <p>
      Surrounded by an eight acre eco-friendly garden, the property looks
      onto a jungle stream — a paradise for bird watchers and a tranquil
      setting where you will forget about the bustle of city life.
    </p>
  </div>
  <div class='grid__column grid__column--6'>
    <a href='/contact'>
      <h2>Contact</h2>
      <img src='' placeholder='Contact'/>
    </a>
    <p>
      Mahinda and Margherita are a Sri Lankan-Italian couple who run little
      dream. Both speak English and of course Mahinda speaks Singhalese and 
      Margherita Italian. We welcome guest from all nationalities. Please 
      don't hesitate to give us a call, or drop us an email. We can arrange
      
    </p>
  </div>
</div>
