$milano-red: #b50e0e;
$white: #ffffff;
$oil-black: #221b1b;
$empress-grey: #7e7575;
$white-smoke: #f6f4f4;

$serif-font: "Bree Serif", serif;
$sans-font: "Lato", sans-serif;

$content-width: 700px;

$mobile-width: 600px;
